.hero-section {
  background: url('assets/hero-bg.png') no-repeat center center;
  background-size: cover;
  color: black;
  padding: 150px 0;
  text-align: center;
}

.hero-section .main-title {
  font-size: clamp(2rem, 5vw, 3rem); /* Escala entre 2rem y 3rem */
  font-weight: 900;
  margin-top: -60px;
  margin-bottom: 40px;
}

.hero-section .sub-title {
  font-size: clamp(1.2rem, 4vw, 2rem); /* Escala entre 1.2rem y 2rem */
  font-weight: 900;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .hero-section {
    background-size: cover;
    background-attachment: scroll;
    padding: 100px 0; /* Reduce el padding en pantallas más pequeñas */
  }

  .hero-section .main-title {
    font-size: 2.5rem; /* Ajusta el tamaño para pantallas medianas */
  }

  .hero-section .sub-title {
    font-size: 1.5rem; /* Ajusta el tamaño para pantallas medianas */
    line-height: 1.8; /* Aumenta el espaciado entre líneas */
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 80px 0; /* Reduce aún más el padding en pantallas pequeñas */
  }

  .hero-section .main-title {
    font-size: 2rem; /* Ajusta el tamaño para pantallas pequeñas */
  }

  .hero-section .sub-title {
    font-size: 1.2rem; /* Ajusta el tamaño para pantallas pequeñas */
    line-height: 1.2; /* Aumenta el espaciado entre líneas */
  }
}


.hero-section .cta-button {
  background-color: #6EC1E4;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.hero-section .cta-button:hover {
  background-color: #008e46;
}

/* Services section */
.services {
  background: linear-gradient(to bottom right, #6EC1E4, #FFFFFF);
  padding: 10px 0;
  min-height: 800px; 
}

.services .section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.services .section-title2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 10%;
  margin-bottom: 20px;
}

.services .section-title3 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 10%;
  margin-bottom: 20px;
}

.services .service-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.services .card {
  background: linear-gradient(to bottom, #a3d9f7, #ffffff);
  padding: 20px;
  border-radius: 50%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 270px; 
  height: 270px; 
  text-align: center;
  display: flex; 
  justify-content: center;
  align-items: center; 
}


.services .card img {
  margin-top: 20px;
  width: 75%;
  border-radius: 8px;
  height:75%;
  object-fit: cover;
}

.services .card h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 6px;
}

.services .card p {
  font-size: 1rem;
  color: #555;
}

.clickable-image {
  cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre la imagen */
}


/* Ajustes generales para pantallas pequeñas */
@media (max-width: 768px) {
  .hero-section {
    padding: 80px 20px;
    text-align: center;
  }

  .hero-section .main-title {
    font-size: 2rem;
    margin-top: -30px;
    margin-bottom: 20px;
  }

  .hero-section .sub-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  .hero-section .cta-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  /* Ajusta las tarjetas */
  .services .service-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .services .card {
    width: 200px;
    height: 200px;
    padding: 15px;
  }

  .services .card img {
    width: 70%;
    height: 70%;
  }

  .services .card h3 {
    font-size: 1.1rem;
  }

  /* Ajusta los títulos de sección */
  .services .section-title, 
  .services .section-title2, 
  .services .section-title3 {
    font-size: 1.5rem;
    text-align: center;
    padding-left: 0;
  }
}
