<div class="hero-section">
  <div class="container">
    <h1 class="main-title">Bienvenido al cambio energético</h1>
    <p class="sub-title">Únete a nuestra comunidad energética e indepdendizate con nosotros</p>
    <button (click)="scrollDown()" class="cta-button">Ver comunidades energéticas</button>
  </div>
</div>

<div class="services">
    <h2 class="section-title">Con Comuniwat tú decides cómo formar parte:</h2>
    <div class="service-cards">
      <div class="card">
        <img src="assets/solar-panel.jpg" alt="Energía Solar" />
        <h3>Generador</h3>
      </div>
      <div class="card">
        <img src="assets/energy-efficiency.jpg" alt="Eficiencia Energética" />
        <h3>Consumidor</h3>
      </div>
      <div class="card">
        <img src="assets/consulting.jpg" alt="Asesoría Energética" />
        <h3>Colaborador</h3>
      </div>
  </div>

  <h1 class="section-title2">Consume energía más limpia, barata y local</h1>
  <h2 class="section-title3">Conoce nuestras comunidades energéticas</h2>
  <div class="service-cards">
    <div class="card">
      <img routerLink="/home/paracuellos"  src="assets/paracuellos.jpg" alt="Energía Solar"  class="clickable-image" />
      <h3>Comunidad Paracuellos</h3>
    </div>
    <div class="card">
      <img routerLink="/home/majadahonda"  src="assets/majadahonda.jpg" alt="Eficiencia Energética"  class="clickable-image" />
      <h3>Comunidad Majadahonda</h3>
    </div>
    <div class="card">
      <img routerLink="/home/algete"  src="assets/algete.jpg" alt="Asesoría Energética"  class="clickable-image" />
      <h3>Comunidad Algete</h3>
    </div>
  </div>
</div>
