<mat-toolbar class="custom-toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <!-- Logo -->
  <header fxFlex="25" fxLayout="row" fxLayoutAlign="start center">
    <ng-container *ngIf="!isAuthenticated(); else authenticatedBlock">
      <img routerLink="/home" src="assets/comuniwat-.png" class="clickable-image" />
    </ng-container>
    <ng-template #authenticatedBlock>
      <img routerLink="/home" src="assets/comuniwat-.png" class="clickable-image" />
    </ng-template>
  </header>

  <!-- Menú de botones -->
  <div fxFlex="75" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button routerLink="/home/register" *ngIf="!isAuthenticated()" mat-button>
      <span>Regístrate</span>
    </button>
    <button [matMenuTriggerFor]="profile" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>drag_indicator</mat-icon>
      <span>Conócenos</span>
    </button>
    <button routerLink="/home/cpanel" *ngIf="isAuthenticated()" mat-button>
      <mat-icon>lock</mat-icon>
      <span>Panel</span>
    </button>
    <button [matMenuTriggerFor]="profile2" *ngIf="isAuthenticated()" mat-button>
      <mat-icon>drag_indicator</mat-icon>
      <span>Conócenos</span>
    </button>
    <button routerLink="/home/login" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>lock</mat-icon>
      <span>Accede</span>
    </button>
    <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </div>
</mat-toolbar>

<mat-menu #profile="matMenu" xPosition="before">
  <button mat-menu-item routerLink="/home/about">
    <mat-icon>shopping_basket</mat-icon>
    <span>Sobre nosotros</span>
  </button>
</mat-menu>

<mat-menu #profile2="matMenu" xPosition="before">
  <button mat-menu-item routerLink="/home/about">
    <mat-icon>grade</mat-icon>
    <span>Sobre nosotros</span>
  </button>
</mat-menu>
