
<div class="container py-5">

    <!-- Section: Ciudadanos -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-md-2">
        <img src="assets/paracuellos.jpg" class="img-fluid rounded-4 shadow" alt="Ciudadanos participando" />
      </div>
      <div class="col-md-6">
        <h2 class="fw-bold text-primary">🌿 C.E. Algete</h2>
        <p class="text-muted">
          Los ciudadanos son el pilar fundamental de la comunidad energética. Participando en la generación y el consumo de energía renovable, 
          no solo reducen su impacto ambiental, sino que también obtienen beneficios económicos directos.
        </p>
        <p class="text-muted">
          <li><strong>Potencia instalada:</strong> 100,82 kWp </li>
          <li><strong>Producción:</strong>  145 MWh/año </li>
          <li><strong>Porcentaje de autoconsumo previsto:</strong> 53% </li>
          <li><strong>Emisiones de CO2 evitadas:</strong> 6341 kg/año </li>
        </p>
      </div>
    </div>
  
  
    <!-- Call to Action -->
    <div class="text-center bg-light rounded-4 p-5 shadow-lg">
      <h2 class="fw-bold text-primary mb-4">🌟 Únete a nuestra Comunidad Energética</h2>
      <p class="text-muted mb-4">
        Sé parte del cambio. Juntos, ciudadanos, empresas y gobiernos locales, podemos construir un futuro más limpio, sostenible y justo.
      </p>
      <button  *ngIf="!isAuthenticated()" mat-button>
        <a  routerLink="/home/register" class="btn btn-primary btn-lg shadow" >Participa</a>
      </button>
    </div>
  </div>
  
